.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}
.button_continer {
  text-align: center;
}
.inputfield {
  position: relative;
  width: 250px;
  height: 50px;
  line-height: 44px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #65ad22;
  transition: 0.2s all;
  cursor: text;
  height: 0px;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #65ad22;
  box-shadow: none;
  color: #111;
}
input:invalid {
  outline: 0;
}
input:focus,
input:valid {
  border-color: #00dd22;
}
input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: #00dd22;
}
