.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: burlywood;
  /* position: fixed; */
  width: 100%;
}
.logo_image {
  position: sticky;
  top: 0;
  max-width: 10rem;
  object-fit: contain;
  padding: 5px 4em;
  height: 4rem;
  cursor: pointer;
}
.icon {
  padding-right: 5em;
  cursor: pointer;
  position: relative;
  padding-top: 15px;
}
.input {
  padding: 10px;
  width: 50%;
}
.count {
  position: absolute;
  top: 0;
}
.order_link {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
